.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow:0 1px 3px -2px black;
}

.navbar-logo {
  display:flex;
  align-items:center;
  gap: 10px;
}



.nav-login-register {
  position: relative;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
}

.nav-login-registerk:hover {
  border: 1px solid #000;
  background-color: #f8f9fa;
  color: #007bff;
}

.nav-login-register:hover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border: 1px solid #000;
  background-color: #f8f9fa;
}