.navbar-setting {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(187, 22, 187); /* Your desired purple color */
}
.navbar-setting .navbar-brand,
.navbar-setting .nav-link,
.navbar-setting .nav-dropdown-item {
  color: white; /* Adjust text color for better contrast */
}

.navbar-setting .nav-link:hover,
.navbar-setting .nav-dropdown-item:hover {
  color: lightgray; /* Adjust hover text color */
}

.me-auto {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}